@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="kiosk-body">
        @Body
    </div>
</CascadingAuthenticationState>